html{

    /* margin: 5px; */
    /* border: 1px solid red; */
}

body{

    margin: 0px;
    height: 100vh;

    /* border: 1px solid green; */

    font-family: 'Playpen Sans', cursive;
    background-color: #FCF5ED;
}

#content{

    /* padding: 5px; */
    /* border: 1px solid blue; */

    display: flex;
    justify-content: center;
}

#primary-container{

    /* width: 75vw; */

    padding: 5px;
    /* border: 1px solid brown; */

    display: flex;
    flex-direction: column;

    gap: 5px;
}

#primary-container div{
    /* border: 1px solid blueviolet; */
}

#sectionA{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

#header{

    margin: 0 10px;
    padding: 10px;

    padding-bottom: 0;

    font-family: 'Patrick Hand SC', cursive;
    font-size: 5rem;
}

#tabs{

    display: flex;
   
    gap: 20px;
    padding: 10px 20vw;

    align-items: start;
}

#tabs button{

    padding: 8px 15px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: #CE5A67;
    color: black;

    font-family: 'Playpen Sans', cursive;
    font-size: 1rem;
}

#tabs button:hover{

    background-color: black;
    color: white;
}

#line{

    border: 2px solid black;
    margin-bottom: 30px;
}

#sectionB{

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}

#bullet-points{

    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 5px;

    justify-content: center;

    padding: 10px;
    background-color: #F4BF96;

    border: 2px solid black;
    border-radius: 10px;
}

#bullet-points div{   

    width: 350px;
    font-size: 0.9rem;
}

#sectionC{

    display: flex;
    flex-direction: column;

    gap: 25px;
    padding: 5px;

    justify-content: center;
    align-items: center;
}

#reviews{

    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 10px;

    align-items: start;

    border: 2px dashed black;   
    border-radius: 10px;
}

.review{
    font-size: 1.2rem;
}

.reviewer{
    font-size: 0.75rem;
}